/* 使用 google webfont */
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

/* === 元素风格定义 === */

* {
    box-sizing: border-box;  /* 不打算兼容 IE */
}

body {
    font-family:Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    background-color: #fff;  /* white */
}

abbr:hover {
    /* 缩写标签 hover 的时候显示更好的锚 */
    cursor: help;
}

ul {
    /* 去除多余的 padding */
    padding: 0;
    margin: 0;
}


/* === 页面各部分风格定义 === */

/* === 主容器 === */
#screen {
    /*
     * 计算公式：
     *
     * 个数 * box 总宽度 - 一个 box 的 margin
     *
     * 现在一行有 18 个，box 宽度为 50 + 10 px
     * 所以总宽度为
     *
     *      18 * 60 - 10 = 1070 px
     */
    width: 1070px;
    margin: auto;
}

/* === 页面标题 === */
#title {
    margin-top: 25px;
}

#title h1,
#title h3 {
    /* 标题居中显示 */
    margin: auto;
    text-align: center;
    font-weight: normal;
    font-family: 'Poiret One', cursive;
    color: #2c3e50;  /* midnight blue */
}

/* 主标题 */
#title h1 {
    font-size: 45px;
}

/* 副标题 */
#title h3 {

}

/* === 页面主体 === */
#board {
    margin: 30px 0;
}

/* === box 简介 === */
#description {
    /* 定位到右边 */
    position: fixed;
    top: 0;
    /* 默认不显示 */
    right: -50%;
    /* 占一半 */
    width: 50%;
    height: 100%;
    padding-left: 15px;

    font-family:Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    background-color: rgba(44, 62, 80, .35);  /* midnight blue */
    color: #fbfbfb;  /* clouds */
}

/* 实际上当作一个模块 */
#description .title {
    margin: 25px 0 5px 0;
}

#description .content,
#description .related {
    padding-left: 15px;
    padding-right: 15px;

    font-size: 18px;
    line-height: 1.5;
}

#description .content {
    margin-bottom: 15px;
}

#description .related .friend {
    display: inline-block;
    margin-right: 5px;
}

#description .related a {
    text-decoration: none;
    color: #fbfbfb;  /* clouds */
}

#description .related a:hover {
    color: #95a5a6;  /* concrete */
}

/* 过渡动画 */
#description.show,
#description.hide {
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

#description.show {
    right: 0;

    animation-name: slidein;
}

#description.hide {
    right: -50%;

    animation-name: slideout;
}

@keyframes slidein {
    from {
        right: -50%;
    }

    to {
        right: 0;
    }
}

@keyframes slideout {
    from {
        right: 0;
    }

    to {
        right: -50%;
    }
}


/* === 页面脚部 === */
#copyleft {
    margin-top: 15px;

    /* 居中显示 */
    text-align: center;
    font-size: 20px;
    color: #2c3e50;  /* midnight blue */
    font-family: 'Poiret One', cursive;
}

#copyleft em {
    font-style: normal;
}

/* === 页面各模块风格定义 === */

/* 一个标签 */
.box {
    /* 显示为一个漂浮的块级元素 */
    display: -webkit-flex;
    display: flex;
    position: relative;
    float: left;
    margin: 2px 10px 7px 0;
    padding: 2px 5px;
    width: 50px;
    height: 70px;

    font-family: 'Poiret One', cursive;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fbfbfb;  /* clouds */
    word-wrap: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
    background-color: #3498db;  /* peter river */
}

/* 最后一个 box 不需要右边距 */
.box:nth-child(18n) {
    margin-right: 0;
}

.box abbr,
.box a {
    /* 使字体居中显示 */
    margin: auto;

    text-align: center;
    font-weight: bold;
}

.box a {
    /* 清除多余的样式 */
    text-decoration: none;
    color: #fbfbfb;  /* clouds */
}

.box:hover,
.box.box-selected {
    /* 被挑到的感觉真是很奇妙哦 ヾ(=^▽^=)ノ */
    left: -2px;
    top: -2px;
}

.box.box-pesudo {
    /* 不显示但占位置的 box */
    background-color: transparent;
}

/* 边上的三角形 */
.box .corner {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;

    border: 5px solid transparent;
    border-right: 5px solid #fff;  /* white */
    border-top: 5px solid #fff; /* white */
}

/* 清除浮动 */
.clearfix {
    clear: both;
}
