<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>bentobox</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <div id="screen" class="container">
            <header id="title">
                <h1>VEDU</h1>
                <h3>Enjoy learning with diligence and passion.</h3>
            </header>
            <section id="board">
                <ul class="main">
                    <!-- box 的模板 -->
                    <script type="text/html" id="box-tmpl">
                        <li class="box" data-name="<%= name %>" data-description="<%= description %>" data-relations="<%= relations %>">
                            <div class="corner"></div>
                            <abbr title="<%= name %>"><%= abbr %></abbr>
                        </li>
                    </script>
                    <script type="text/html" id="pesudo-box-tmpl">
                        <li class="box box-pesudo">
                        </li>
                    </script>
                    <!--<li class="box">-->
                        <!--<div class="corner"></div>-->
                        <!--[>TODO 更好看的符号<]-->
                        <!--<a class="add" href="#">+</a>-->
                    <!--</li>-->
                </ul>
                <!--TODO 更好的清除浮动-->
                <div class="clearfix"></div>
            </section>
            <footer id="copyleft">
                created with <em>♥</em> by vtmer
            </footer>
        </div>
        <section id="description">
            <script type="text/html" id="description-tmpl">
                <header class="title">
                    <h1><%= name %></h1>
                </header>
                <article class="content">
                    <p><%= description %></p>
                </article>
                <aside>
                    <h3>相关 box</h3>
                    <ul class="related">
                        <%= relations %>
                    </ul>
                </aside>
            </script>
            <script id="related-tmpl" type="text/html">
                <li class="friend">
                    <a href="#" data-name="<%= name %>">
                        <%= name %>
                    </a>
                </li>
            </script>
        </section>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/FitText.js/fittext.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
